body {
    background-color: #212223;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.container-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.header-me {
     color: rgb(94, 132, 197);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.content-me {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.6;
}

.image-holder {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(191, 210, 193, 0.5);
   /* Flexbox for centering */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 0 auto; /* Centers the image-holder itself horizontally in its parent */
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me {
    margin-top: 20px;
    padding: 20px;
    background-color: #252d3a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(191, 210, 193, 0.5);
}

.realme h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.realme {
    margin-top: 30px;
    padding: 20px;
    background-color: #d6d6d6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(191, 210, 193, 0.5);
    color: black;
    
}

.title-works h2 {
    text-align: center;
    color: rgb(94, 132, 197);

}

.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* space between images */
    margin: 0 auto;
    max-width: 900px; /* adjust as needed */
}

.works img {
    width: 100%;
    height: 200px; /* or auto, or any fixed height */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(222, 203, 203, 0.1);
}

/* Add to about.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}

.header-hobbies {
    text-align: center;
}

.hobby-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 20px; /* space between images */
    margin: 0 auto;
    max-width: 900px; /* adjust as needed */
}

.hobby-items img {
    width: 100%;
    height: 200px; /* or auto, or any fixed height */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(222, 203, 203, 0.1);
}